.frmm {
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container {
    margin-bottom: 15px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007e85;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #00565b;
  }
  
  p {
    margin-top: 10px;
    font-size: 14px;
    color: red;
  }
  